<?php

$finder = PhpCsFixer\Finder::create()
    ->in(['src', 'tests'])
    ->notName('bootstrap.php')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
